# Nhost Config
NHOST_APP_ID=
NHOST_GRAPHQL_ENDPOINT=
NHOST_ADMIN_SECRET=
NHOST_AUTH_URL=
NHOST_STORAGE_URL=

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:5500

# Para produção
PRODUCTION_URL=
