# Nhost Configuration
# Obtenha em: https://app.nhost.io

# URL do Backend Nhost
VITE_NHOST_BACKEND_URL=https://hgxryletxufwfowezdhr.graphql.sa-east-1.nhost.run

# Hasura Admin Secret (pegue no dashboard do Nhost)
VITE_HASURA_ADMIN_SECRET=sua_admin_secret_aqui

# Nhost App ID (produção)
# VITE_NHOST_APP_ID=xxxxxxxxxxxxx
